body{
    justify-content: center;
}

.float-left{
    float: left;
}
.category{
    display: inline-block;
    width:80px;
    padding:  20px;
    font-size: 24px;
    cursor: pointer;
    
}
.selected-category{
    color: #1a73e8;
    border: none;
    border-bottom: 5px solid;
}
.page-layout{
   text-align: center;
}
.item-list{
    display: flex;
    
    flex-flow: row wrap;
    justify-content: center;
}
.video-player{
    height: 50%;
    width: 70%;
    display: block;
}
    
     
    

 .banner{
    margin: 80px;
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 1%;
 }
 
@media screen and (max-width:500px){
    .banner{
        margin: 40px;
    }
    
}

hr{
    border: none;
    border-bottom: 2px solid grey;
    width: 85%;
}